@model WebNotes.Data.Notification
@{
    ViewBag.Title = "Добавление напоминания";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="NotificationCreate" asp-controller="home">
    <div class="form-group">
        <label asp-for="Notification_text" class="control-label">Напоминание</label>
        <input type="text" asp-for="Notification_text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Notification_data" class="control-label">Дата</label>
        <input type="datetime-local"  min=@DateTime.Now.ToString("dd/MM/yyyy") asp-for="Notification_data" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Создать" class="btn btn-outline-dark" />
        <a asp-action="Notification" class="btn btn-outline-dark">Назад</a>
    </div>
</form>